<header id="header">
  <div class="row">
    <div class="col-sm-6">
      <h1>Example store</h1>
    </div>
  </div>
</header>

<p>
  This is an example store for the class project portion of the Skillshare
  course <a href="https://www.skillshare.com/classes/technology/Advanced-Shopify-Theme-Development/708093439/project-guide">Advanced Shopify Theme Development</a>.
</p>

<p>
  It's not a real store, and you can't buy anything from it - sorry!
</p>
